// If the user is logged in, show the logout link:
- if (user) 
  p
    a(href='/logout', class="logout") Logout
// Otherwise show the login link:
- if (!user) 
  p
    a(href='/login', class="logout") Login
h1 Details for #{product.name}
p= product.description
// If the user chose a image that is not blank, render it:
- if (product.image && !/blank/.test(product.image))
  p
    img(src=product.image, alt=product.image)
p 
  strong Price: #{product.price}
p
  a(href='/products/', class='button back') Back
  // If the user is logged in, show the Edit button:
  - if (user) 
    a(href='/products/' + product.id + '/edit', class='button') Edit